<%= render 'shared/search-bar' %>

<div class="browse">
    <div class="browse__categories">
        <h3>Categories</h3>
        <ul class="browse__categories-list">
            <li class="browse__category">
                <%= link_to 'All', browse_path %>
            </li>
            <% @categories.each do |category| %>
                <li class="browse__category">
                    <%= link_to browse_path(category: category.id)  do %>
                        <%= category.name %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="browse__listings">
        <% if @listings.empty? %>
            No search results for: <%= @title %> in <%= Category.find(@category).name %>
        <% else %>
            <% @listings.reverse_each do |listing| %>
                <%= render 'shared/listing-card', listing: listing %>
            <% end %>
        <% end %>
    </div>
</div>
