<%= render 'shared/search-bar' %>

<div class="listing-container">
    <div class="listing">
        <div class="listing__details">
            <h1><%= @listing.title %></h1>
            <div class="listing__price"><%= number_to_currency(@listing.price / 100.0) %> / day</div>
        </div>
    
        <div class="listing__photos">
            <%= image_tag @listing.picture[0].service_url, class: 'listing__image' if @listing.picture.attached? %>
        </div>           

        

        <div class="listing__description">
            <h3>Description</h3>
            <div class="listing__description-body">
                <%= simple_format(@listing.description) %>
            </div>        
        </div>

        <div class="listing__categories">
        Categories:
            <% @listing.categories.each do |category| %>
                <%= link_to "/browse/?category=#{category.id}" do %>
                    #<%= category.name %>
                <% end %>
            <% end %>
        </div>

        <div class="listing__location">
        <%= @listing.location.address %>
        <div style="height: 500px" id="map"></div>
        <%= javascript_pack_tag "leaflet/show" %>
        </div>
        
    </div>

    <div class="listing-user">
        <div class="listing-user__details">
            <% if @listing.user.picture.attached? %>
                <%= image_tag @listing.user.picture, class: "listing-user__profile-picture-img" %>
            <% else %>
                <%= image_tag('default-profile-picture.png', class: "listing-user__profile-picture-img") %>
            <% end %>
            <%= link_to @listing.user.username do %>
                <%= link_to @listing.user.username, "/#{@listing.user.username}" %>
            <% end %>
        </div>      

        <div class="listing-user__rent-item">
            <% if @listing.unavailable == true %>
               <div class="unavailable">Currently unavailable</div>
            <%elsif current_user && @listing.user_id != current_user.id %>
                <%= link_to 'Add to cart', cart_index_path(id: @listing.id), method: :post, class: 'listing__rent-item-btn' %>
            <% elsif !current_user %>
                <div class="posted-by-self">Sign in to buy</div>
            <% else %>
                <div class="posted-by-self">Posted by you</div>
            <% end %>
        </div>

        <% if can? :edit, @listing %>
            <div class="listing-user__controls">
                <%= link_to 'Edit', edit_listing_path, class: 'edit' %>
                <%= link_to 'Delete', listing_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'delete' %>
            </div>
        <% end %>
    </div>

</div>
