<div class="listing-card">
    <div class="listing-card__picture">
        <%= link_to listing do %>
            <%= image_tag listing.picture[0].service_url, class: 'listing-card__picture-img' if listing.picture.attached? %>
        <% end %>
    </div>
    <div class="listing-card__details">
        <div class="listing-card__title">
        <%= link_to listing do %>
            <%= listing.title %>
        <% end %>
        </div>
        <div class="listing-card__price">
            $<%= listing.price %>
        </div>
        
        <div class="listing-card__description">
            <%= listing.description %>
        </div>
        <div class="listing-card__user">
            Posted by: 
            <%= link_to listing.user.username do %>
                <%= listing.user.username %>
            <% end %>
        </div>
    </div>
</div>