<nav class="nav-main">
    <div class="container">
        <div class="nav-main__content">
            <div class="nav-main__right">
                <%= link_to 'music/share', root_path, class: 'nav-main__site-title' %>
            </div>
            <div class="nav-main__left">
                <ul class="nav-main__links">
                    <li class="nav-main__link-item">
                        <%= link_to 'Browse', '/browse', class: 'nav-main__nav-link' %>
                    </li>
                    <% if !user_signed_in? %>
                        <li class="nav-main__link-item">
                            <%= link_to 'Log in', new_user_session_path, class: 'nav-main__nav-link' %>
                        </li>
                        <li class="nav-main__link-item">
                            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-main__nav-link' %>
                        </li>
                    <% end %>
                    <% if user_signed_in? %>
                        <li class="nav-main__link-item">
                            <%= link_to 'Post an item', new_listing_path, class: 'nav-main__btn' %>
                        </li>
                        <li class="nav-main__link-item dropdown">
                            <%= link_to current_user.fullname, "/#{current_user.username}", class: 'nav-main__user-dropdown' %>
                            <div class="nav-main__user-dropdown-menu">
                                <%= link_to 'Listings', "/#{current_user.username}/listings", class: 'nav-main__nav-link' %>   
                                <%= link_to 'Orders', "/#{current_user.username}/orders", class: 'nav-main__nav-link' %>   
                                <%= link_to 'Settings', edit_user_registration_path, class: 'nav-main__nav-link' %>   
                                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-main__nav-link' %>   
                            </div>
                        </li>     
                        
                        <% if  current_user.cart && !current_user.cart.cart_listings.empty? %>
                            <li class="nav-main__link-item">
                                <%= link_to "/cart", class: 'nav-main__cart' do %>
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="nav-main__cart-amount">
                                        <%= current_user.cart.cart_listings.length %>
                                    </span>
                                <% end %>
                            </li>
                        <% end %>            
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</nav>